body {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

input {
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #CCC;
  box-shadow: inset 2px 2px 0 rgba(0,0,0,0.05);
}

input, button, textarea {
  font-size: 14px;
}

button {
  border: 1px solid #CCC;
  background: #EEE;
  padding: 10px;
  border-radius: 4px;
}